
@{
    ViewBag.Title = "_Counter";
}

<!-- Vendor CSS Files -->
@*<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/css/style.css" rel="stylesheet">
<div class="container">

<div class="shadow-lg  " style="background-color:white;height:130px;">
    <center>
        <h4 class="mt-2">أعداد طلبة التعليم الأساسي حسب صفة القيد</h4>

    </center>
        <section id="counts" class="counts">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1766481" data-purecounter-duration="1" class="purecounter"></span>
                        <p>نظامي</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="2926" data-purecounter-duration="1" class="purecounter"></span>
                        <p>منازل</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="3780" data-purecounter-duration="1" class="purecounter"></span>
                        <p>منزلية تعليم </p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1427" data-purecounter-duration="1" class="purecounter"></span>
                        <p>تعليم مسائي </p>
                    </div>

                </div>

            </div>
        </section>
</div>
</div>
<br />
        <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="~/assets/js/main.js"></script>
