
<link href="~/Content/NewsStyle.css" rel="stylesheet" />
<div class="container">

    <div class="row">
        <div class="well" style="background-color:white">
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="~/Img/news4.jpg" height="200px" width="300px" alt="Slide11">
                                    <div class="caption">
                                        <h3> اخبار اليوم</h3>
                                        <p>شارك وَزير التَّربية والتَّعليم الدّكتور “موسى المقريف” رفقة مُستشار الوزارة للتَّحول الرَّقمي الدّكتور “أحمد المهدي” أمْس الخميس في فعاليات مؤتمر التَّمويل الرفيع المستوى لِصندوق ” التَّعليم لا ينتظر” الذي اِحتضنته مدينة جنيف السويسرية يومَي 16-17 فبراير الجارِي.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="~/Img/news5.jpg"height="200px" width="300px"" alt="Slide12">
                                    <div class="caption">
                                        <h3>  اخبار اليوم</h3>
                                        <p>وَتخلَّل المؤتمر عَرض لِتجارب مجموعة مِنْ الدول في تناولها موضوع تعليم الأطفال وَذوِي الإعاقة والفتيات في حالات الطوارئ والأزمات وخاصة في الأماكن الحرجة، إذ يهدف إلى حَثِّ دول العالم جميعاً لِدعم مؤسسة (ECW) لِتمكينها من إدماج أكثر من 222 مليون طفل محرومين من التَّعليم في مناطق مختلفة في العالم.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide21">
                                    <div class="caption">
                                        <h3>اخبار اليوم</h3>
                                        <p>اِجتمع وَزِير التَّربية والتَّعليم الدكتور”موسى المقريف” صباح اليوم الأربعاء برئيس اللجنة التَّحضيرية لِمسابقة الأولمبياد الوطني للرِّياضيات الأستاذ “خالد الحطماني”، وأعضاء اللجنة المُشكَّلة</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="~/Img/news6.jpg" height="200px" width="300px" alt="Slide14">
                                    <div class="caption">
                                        <h3> اخبار اليوم</h3>
                                        <p>قال مُدير إدارة التَّعليم الثانوي بالوزارة، رئيس لجنة دراسة طلبات إنشاء واستحداث المؤسَّسات التَّعليمية، الدكتور “محمد المغربي” أن مجموع المؤسسات التعليمية والفصول الدِّراسية لِمرحلة التعليم الأساسي والثانوي التي أقرَّت اللجنة اِستحداثها خِلال العام 2022م بلغ 39 مؤسسة موزعة على 32 مراقبة تربية وتعليم في كامِل التُّراب الليبي.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide21">
                                    <div class="caption">
                                        <h3>سسسس</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide22">
                                    <div class="caption">
                                        <h3>Product label</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide23">
                                    <div class="caption">
                                        <h3>Product label</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide24">
                                    <div class="caption">
                                        <h3>Product label</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide31">
                                    <div class="caption">
                                        <h3>Product label</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide32">
                                    <div class="caption">
                                        <h3>Product label</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide33">
                                    <div class="caption">
                                        <h3>Product label</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200/" height="200px" width="300px" alt="Slide34">
                                    <div class="caption">
                                        <h3>Product label</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                @*<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>*@
            </div><!-- End Carousel -->
        </div><!-- End Well -->
    </div>
</div>

<script src="~/Content/NewsJavScript.js"></script>